<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:postgresql://192.168.8.1/datamanagerdb
        </property>
        <property name="hibernate.connection.username">
            datamanageruser
        </property>
        <property name="hibernate.connection.password">
            data4pass
        </property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!--<property name="hbm2ddl.auto">create</property>   -->

        <!-- List of XML mapping files -->
        <mapping resource="MeasurePoint.hbm.xml"/>

    </session-factory>
</hibernate-configuration>